.enlace{
        text-decoration: none;
    border: black 2px solid;
    margin: 5px;
}
.enlace:hover{
    background-color: #4563a8; 
  border-bottom: 2px solid #4563a8;
}

.noticias{
max-width: 400px;
max-height: 50px;
}

.contenedor{
    display: flex;
}

.contenido{
    display: flex;
}



.txt_derecha{
    text-align: center;
}


/*Tercer Punto */
.viñetas{
    list-style-type: none;
}

/*Segundo Punto*/
div{

}
h1{
    text-align: center;
}
h3{
    margin: 0%;
    font-size: 1.5em; 
  font-weight: bold; 
}
.img_Index{
    height: 60px;
    width: 60px;
}


/*Primer Punto */
.header{
    display: flex;
    max-width: 1200px ;
    min-height: 120px;
    background-color: #4563a8;
    
}
.main{
    background-color: #243357;
    min-width: 1000px;

}
.aside{
    min-width: 200px;
    min-height: 400px;
    background-color: #6490F5;
    ;
}
.doble{
    display:flex;
}


.footer{
    min-width: 600px;
    background-color: #567bd1;
    min-height: 80px;
    max-height: 80px;
}



body{
    max-width: 1200px;
}